**Applied Data Science Capstone**

**_Data Preparation - part 1_**

This notebook shows the preparation of dataset used for clustering the neigborhoods in Toronto.

In [1]:
import pandas as pd

In [2]:
# reading wikipedia page in a dataframe
df = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')[0]

In [3]:
df.head()

,0,1,2,3,4,5,6,7,8
0,M1ANot assigned,M2ANot assigned,M3ANorth York(Parkwoods),M4ANorth York(Victoria Village),M5ADowntown Toronto(Regent Park / Harbourfront),M6ANorth York(Lawrence Manor / Lawrence Heights),M7AQueen's Park(Ontario Provincial Government),M8ANot assigned,M9AEtobicoke(Islington Avenue)
1,M1BScarborough(Malvern / Rouge),M2BNot assigned,M3BNorth York(Don Mills)North,M4BEast York(Parkview Hill / Woodbine Gardens),"M5BDowntown Toronto(Garden District, Ryerson)",M6BNorth York(Glencairn),M7BNot assigned,M8BNot assigned,M9BEtobicoke(West Deane Park / Princess Garden...
2,M1CScarborough(Rouge Hill / Port Union / Highl...,M2CNot assigned,M3CNorth York(Don Mills)South(Flemingdon Park),M4CEast York(Woodbine Heights),M5CDowntown Toronto(St. James Town),M6CYork(Humewood-Cedarvale),M7CNot assigned,M8CNot assigned,M9CEtobicoke(Eringate / Bloordale Gardens / Ol...
3,M1EScarborough(Guildwood / Morningside / West ...,M2ENot assigned,M3ENot assigned,M4EEast Toronto(The Beaches),M5EDowntown Toronto(Berczy Park),M6EYork(Caledonia-Fairbanks),M7ENot assigned,M8ENot assigned,M9ENot assigned
4,M1GScarborough(Woburn),M2GNot assigned,M3GNot assigned,M4GEast York(Leaside),M5GDowntown Toronto(Central Bay Street),M6GDowntown Toronto(Christie),M7GNot assigned,M8GNot assigned,M9GNot assigned

Transforming dataframe in the desirable shape:

In [4]:
# making a list of all data
l = []
for i in range(0,df.shape[1]):
    l1 = df.iloc[:,i].tolist()
    l += l1

In [5]:
# extraction of useful information
codes = []
boroughs = []
neighborhoods = []
for i in range(0,len(l)):
    codes.append(l[i][0:3])
    if l[i][3:7] == 'Not ':
        boroughs.append('None')
        neighborhoods.append('None')
    else:
        temp = l[i].split('(')
        temp_b = temp[0][3:]
        boroughs.append(temp_b)
        
        temp_n = temp[1][0:-1]
        if temp_n[0:4] == 'Not ':
            neighborhoods.append(temp_b)
        else:
            temp_n = temp_n.split(' /')
            temp_n = ','.join(temp_n) 
            neighborhoods.append(temp_n)

In [6]:
# creating new dataframe in the appropriate format
data = {'PostalCode': codes, 'Borough': boroughs, 'Neighborhood': neighborhoods}
dataf = pd.DataFrame(data=data)
dataf

,PostalCode,Borough,Neighborhood
0,M1A,None,None
1,M1B,Scarborough,"Malvern, Rouge"
2,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek"
3,M1E,Scarborough,"Guildwood, Morningside, West Hill"
4,M1G,Scarborough,Woburn
...,...,...,...
175,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest..."
176,M9W,EtobicokeNorthwest,"Clairville, Humberwood, Woodbine Downs, West H..."
177,M9X,None,None
178,M9Y,None,None
179,M9Z,None,None

In [7]:
# checking the unique boroughs
dataf['Borough'].unique()

array(['None', 'Scarborough', 'North York', 'East York', 'East Toronto',
       'East YorkEast Toronto', 'Central Toronto', 'Downtown Toronto',
       'Downtown TorontoStn A PO Boxes25 The Esplanade', 'York',
       'West Toronto', "Queen's Park",
       'MississaugaCanada Post Gateway Processing Centre',
       'East TorontoBusiness reply mail Processing Centre969 Eastern',
       'Etobicoke', 'EtobicokeNorthwest'], dtype=object)

In [8]:
# some borough names include more information than needed
# replacing these names with appropriate ones
dataf.replace({'East YorkEast Toronto':'East York','Downtown TorontoStn A PO Boxes25 The Esplanade': 'Downtown Toronto', 'MississaugaCanada Post Gateway Processing Centre':'Mississauga', 'East TorontoBusiness reply mail Processing Centre969 Eastern':'East Toronto', 'EtobicokeNorthwest':'Etobicoke'},inplace=True)

In [9]:
dataf['Borough'].unique()

array(['None', 'Scarborough', 'North York', 'East York', 'East Toronto',
       'Central Toronto', 'Downtown Toronto', 'York', 'West Toronto',
       "Queen's Park", 'Mississauga', 'Etobicoke'], dtype=object)

In [10]:
# droping rows without assigned borough
dataf.drop(dataf.loc[dataf['Borough']=='None'].index, inplace=True)

In [11]:
dataf.head()

  PostalCode      Borough                            Neighborhood
1        M1B  Scarborough                          Malvern, Rouge
2        M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
3        M1E  Scarborough       Guildwood, Morningside, West Hill
4        M1G  Scarborough                                  Woburn
5        M1H  Scarborough                               Cedarbrae

In [12]:
# shape of dataframe
dataf.shape

(103, 3)

In [13]:
# saving dataframe as .csv file
dataf.to_csv('boroughs_toronto.csv',index=False)